// BG
$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg: #222b3c;
//TEXT
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;

$main-bg-light: #9cbdf8;
$soft-bg-light: #d1def8;
$dark-bg-light: #9abdfc;
//TEXT
$main-color-light: rgb(0, 0, 0);
$soft-color-light: #2c2b2b;
$dark-color-light: #9cbdfc;
