.footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  background-color: gray;

  &:first-child {
    font-weight: bold;
  }

  &:last-child {
    font-size: 14px;
  }
}
