.footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  background-color: gray;
  display: block;
  width: 100%;
  text-align: center;

  &:first-child {
    font-weight: bold;
  }

  &:last-child {
    font-size: 14px;
  }
}
