@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.add {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.617);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  .modal {
    padding: 35px;
    border-radius: 10px;
    background: linear-gradient(
      110.6deg,
      rgb(156, 116, 129) -18.3%,
      rgb(67, 54, 74) 16.4%,
      rgb(47, 48, 67) 68.2%,
      rgb(27, 23, 36) 99.1%
    );
    box-shadow: inset 0px 0px 0px 9px rgb(0 0 0 / 56%);
    z-index: 6;
    position: relative;
    h1 {
      // margin-bottom: 40px;
      font-size: 24px;
      color: $soft-color;
      @include md {
        font-size: 22px;
      }
      @include sm {
        font-size: 20px;
      }
    }
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      padding: 7px 13px;
    }
    .close:hover {
      background-color: red;
    }
    form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 40vw;
      max-width: 500px;
      justify-content: space-between;
      background-color: transparent;
      box-shadow: none;
      // padding: 4vw;
      gap: 0;
      @include md {
        width: 65vw;
      }
      .item {
        width: 47%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
        @include xl {
          margin-bottom: 10px;
        }
        @include md {
          width: 45%;
          gap: 6px;
          margin-bottom: 8px;
        }
        @include sm {
          gap: 0;
          width: 45%;
          padding: 0;
        }
      }
      label {
        font-size: 14px;
        @include sm {
          font-size: 12px;
        }
      }

      input {
        padding: 5px;
        background-color: transparent;
        color: wheat;
        outline: none;
        border: 1px solid $soft-color;
        border-radius: 3px;
        @include md {
          font-size: 13px;
        }
        @include sm {
          font-size: 12px;
          padding: 5px;
        }
      }
      button {
        width: 100%;
        padding: 10px;
        cursor: pointer;
        border: none;
        border-radius: 7px;
      }
      button:hover {
        background-color: rgb(0, 102, 255);
        color: #ffffff;
      }
      .colors-sizes {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        width: 100%;
        -webkit-text-fill-color: white;
        @include md {
          margin-top: 8px;
          margin-bottom: 8px;
        }
      }
    }
  }
  .modal-light {
    background: linear-gradient(
      99.6deg,
      rgb(209, 227, 255) 10.6%,
      rgb(242, 227, 234) 32.9%,
      rgb(234, 202, 213) 52.7%,
      rgb(220, 227, 239) 72.8%,
      rgb(185, 205, 227) 81.1%,
      rgb(154, 180, 212) 102.4%
    );
    form {
      input {
        color: black;
        border: 1px solid rgba(0, 0, 0, 0.775);
      }
      button {
        background-color: #103456;
        color: white;
      }
      button:hover {
        background-color: orangered;
      }
      .colors-sizes {
        -webkit-text-fill-color: #000;
      }
    }

    h1 {
      color: #103456;
    }
  }
}
.css-1x6bjyf-MuiAutocomplete-root .MuiAutocomplete-tag {
  @include sm {
    max-height: 23px;
  }
}
