@import "../../styles/global.scss";
.products {
  h1 {
    font-size: 24px;
    @include sm {
      font-size: 18px;
    }
  }
  .info {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;

    button {
      padding: 5px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
    }
    .new-product-btn-light {
      background-color: #123456;
      color: #ffffff;
    }
    .new-product-btn-dark {
      background-color: #ffffff;
      color: #123456;
    }
    button:hover {
      background-color: #ff7948;
      color: white;
    }
  }
}
