.users {
  .info {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;

    button {
      padding: 5px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
    }
    .new-user-btn-light {
      background-color: #123456;
      color: #ffffff;
    }
    .new-user-btn-dark {
      background-color: #ffffff;
      color: #123456;
    }
    button:hover {
      background-color: #ff7948;
      color: white;
    }
  }
}
