@import "../../styles/global.scss";
.dataTable {
  .css-j9ad5u {
    height: auto;
    width: 95%;
    @include sm {
      width: 100%;
    }
  }
  .dataGrid {
    background: white;
    @include sm {
      .css-1qb993p-MuiDataGrid-columnHeaderTitle {
        font-size: 12px;
      }
    }

    .MuiDataGrid-toolbarContainer {
      flex-direction: row-reverse;
    }
    .css-1rtad1 {
      z-index: 0;
    }

    img {
      height: 32px;
      width: 32px;
      border-radius: 50%;
      object-fit: cover;
    }
    .action {
      display: flex;
      gap: 15px;

      .img,
      div {
        height: 20px;
        width: 20px;
        cursor: pointer;
      }
    }
  }

  .css-163fvz6-MuiDataGrid-root .MuiDataGrid-cell {
    @include sm {
      font-size: 12px;
    }
  }
}
